<div class="title">
<div class="contents">
<h1>point click social</h1>
<% if signed_in? %>
  <h2>welcome back, <b><%= current_user.username %></b>. <span class="notYou">(Not You? <a href="/api/sign_out">sign_out</a> )</span> </h2>
<% end %>
</div>
<div class="viewsContainer">
<h4 class="viewsLive"></h4>
<h4 id="view-count"></h4>
<h4 class="viewsText">Online</h4>
</div>

</div>

<div id="unity-container" class="unity-desktop">
  <canvas id="unity-canvas" width=960 height=600></canvas>

  <div id="unity-loading-bar">
    <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
  </div>

  <div id="unity-warning"> </div>

  <div id="unity-footer">
    <div id="unity-webgl-logo"></div>
    <div id="unity-fullscreen-button" class="btn">fullscreen</div>
    <div id="unity-build-title"></div>
  </div>
</div>

<%# <button id="redBtn">Change Color Square</button> %>
